* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    display: flex;
    flex-direction: column;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid rgb(228, 111, 8);
    margin-top: 15px;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
}

.App form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
